body 
{
    display:block;
    margin:0px;
    padding:0px;
}
#Label1
{
    color:Aqua;
    font-size:20px;
    padding:2rem;
}
#Label2
{
    color:Aqua;
    font-size:20px;
    padding:2rem;
}

#Button1
{
    color:Aqua;
    font-size:20px;
    padding:2rem;
}
}

